<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jzj.simplelamp"
    android:versionCode="4"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <!-- Camera -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- FlashLight -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SimpleLamp"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".LightService" >
        </service>
    </application>

</manifest>